body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fc;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin-right: 20px;
  margin-top: 100px;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f6fc;
  color: #333;
}

td {
  background-color: #fff;
}

td.positive {
  color: green;
}

td.negative {
  color: red;
}

.employee-of-the-month {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px;
}

.employee-of-the-month h3 {
  margin-top: 0;
  color: #333;
}

.employee-of-the-month img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.employee-of-the-month p {
  margin: 10px 0 0;
  font-weight: bold;
  color: #555;
}

.header {
  
  height: 80px;
  width: auto;
  display: flex;
  text-align: center;
  
}

.header h1 {
  
  font-size: 15px;
  color: #333;
  margin-left: 105%;
  margin-top: 50px;
 
}

.date-time {
  text-align: right;
  color: #555;
  font-size: 14px;
  flex-shrink: 0;
  height: 50px;
  width: auto;
  margin-left: 190%;
  margin-top: 50px;
  
}